.mainContainer {
  background-color: #f4f5f2;
}
.mainContent {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 10px;
}

.containerFloor {
  width: 70%;
}
.containerContact {
  width: 30%;
}

@media (max-width: 599px) {
  .mainContainer {
    background-color: #f4f5f2;
    padding: 0;
    display: flex;
    gap: 10px;
  }
  .containerFloor {
    width: 100%;
  }
  .containerContact {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .mainContainer {
    background-color: #f4f5f2;
    padding: 0;
    display: flex;
    gap: 10px;
  }
  .containerFloor {
    width: 100%;
  }
  .containerContact {
    display: none;
  }
}

@media (min-width: 960px) {
}
