.mainContainerSearch {
  background-color: #e1f56ef5;
  width: 85%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1.5rem;
  transform: translate(-50%, -50%);
}

.contentSearch {
  display: grid;
}

.title {
  display: flex;
  justify-content: center;
  font: var(--main-font);
  margin-bottom: 1.5rem;
}

.searchContainerLine {
  display: flex;
  margin: 0 3%;
  justify-content: space-evenly;
  font: var(--main-font);
}

.containerRadios {
  display: flex;
}

.customInputRadio {
  opacity: 0;
  position: absolute;
}

.customLabels {
  cursor: pointer;
  background-color: #fff;
  border: solid 0.0625rem #cbccc7;
  color: #666664;
  font-weight: 700;
  padding: 0.75rem 1.25rem;
}

.selectLabel {
  color: #b62682;
  border: 2px solid #b62682;
  background-color: #fff0f9;
  font-weight: 700;
}

.containerInputSearch {
  position: relative;
  display: flex;
  width: 50%;
}

.customInputSearch {
  position: relative;
  font-weight: 400;
  border: none;
  outline: none;
  font-size: 1.05rem;
  width: -webkit-fill-available;
  padding: 0 40px 0 45px;
}

.customInputSearch + svg {
  position: absolute;
  top: 50%;
  left: 15px;
  font-size: 20px;
  transform: translateY(-50%);
  color: #757575;
  pointer-events: none;
}

.customButton {
  cursor: pointer;
  background-color: #b62682;
  color: white;
  padding: 0.75rem 1.25rem;
  font: var(--main-font);
  font-weight: 700;
  border: none;
}

.containerList {
  background-color: white;
  color: black;
  position: absolute;
  z-index: 10;
  height: auto;
  left: 0;
  top: 100%;
  right: 0;
  border: 1px solid #d7d7d7;
}

.placeSelected {
  background-color: red;
}

.inputError {
  border: 2px solid red;
}

.inputErrorMessage {
  color: red;
  width: 100%;
  position: absolute;
  bottom: -18px;
  font-size: 0.8rem;
}

.iconSearch {
  width: 25px;
}
