.containerMainView {
  position: relative;
}
.customImage {
  background-size: cover;
  justify-content: center;
  width: 100%;

}

@media (max-width: 599px) {
  .customImage {
    aspect-ratio: 16/9;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .customImage {
    height: 400px;
  }
}

@media (min-width: 960px) {
}
