.listContainer {
  display: grid;
  grid-template-columns: 1fr 18% 65% 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;
  background-color: #f4f5f2;
}

.listContent {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  grid-column: 3/4;
  grid-row: 2/3;
}

.listContactFilers {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: -4rem;
}

.listHeader {
  background-color: white;
  grid-column: 1/5;
  grid-row: 1/2;
  height: 8rem;
}

.listNumberPlaces {
  margin: 3rem 8% 5rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.containerRadios {
  display: flex;
  grid-column: 3/4;
  grid-row: 1/2;
  margin-top: -3rem;
}

.customInputRadio {
  opacity: 0;
  position: absolute;
}

.customLabels {
  cursor: pointer;
  background-color: #fff;
  border: none;
  color: #666664;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.75rem 0;
  margin-right: 2rem;
}

.selectLabel {
  color: #b62682;
  border: 0;
  border-width: 0 0 2px 0;
  border-bottom: 2px solid #b62682;
  background-color: white;
  font-weight: 700;
}

.listPlacesContainer {
  background-color: red;
}

.paginatorContainer {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.listContainerContact {
  position: relative;
}

.listContactMe {
  background-color: #e1f56e;
  padding: 1rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
  span {
    font-weight: 600;
    font-size: 1.2rem;
    white-space: nowrap;
  }
  button {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.1rem;
  }
}

@media (max-width: 599px) {
  .listContainer {
    display: flex;
  }

  .listContactFilers,
  .containerRadios {
    display: none;
  }
  .listContent {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    grid-column: initial;
    grid-row: initial;
  }
  .listHeader {
    grid-column: initial;
    grid-row: initial;
    height: auto;
  }
  .listNumberPlaces {
    margin: 1rem;
    font-size: 1.4rem;
  }
  .paginatorContainer {
    margin: 3rem 1rem;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .listContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;
    background-color: #f4f5f2;
  }
  .listContactFilers {
    grid-column: 1/2;
    grid-row: 1/4;
    margin-top: -2rem;
  }
  .containerRadios {
    display: flex;
    grid-column: 2/4;
    grid-row: 1/2;
    margin-top: -3rem;
  }
  .listContent {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .listHeader {
    grid-column: initial;
    grid-row: initial;
    height: 6rem;
  }
  .listNumberPlaces {
    margin: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
  }
}

@media (min-width: 960px) {
}
