.headerContent {
  background-color: #e1f56e;
}

.transformHeader > nav {
  padding: 0.5rem 8% ;
}

.listContainer > section {
  max-width: initial !important;
  margin: 0 8% !important;
}

@media (max-width: 599px) {
  .listContainer > section {
    margin: 0 !important;
  }
  .transformHeader > nav {
    padding: 0.5rem !important;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .listContainer > section {
    margin: 0;
  }
  .transformHeader > nav {
    padding: 0.5rem;
  }
}

@media (min-width: 960px) {
}
