@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1250px;
  --main-font: normal 1rem 'bernino-regular', Verdana, Arial, Geneva, sans-serif;
  --big-max-width: 1200px;
}

input {
  font-family: 'bernino-regular', Verdana, Arial, Geneva, sans-serif;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  padding: 0 !important;
}

.container {
  margin: auto;
  max-width: var(--max-width);
}

.globalDetails{
  margin: auto;
  max-width: 900px;
}

.container-list {
  margin: 0 8%;
}

.main-container {
  max-width: --big-max-width;
  margin: 0 auto;
  padding: 0 1rem;
  width: 92%;
}

FontAwesomeIcon{
  font-size: 16px;
}
.carousel .carousel-status{
 font-size: 14px !important; 
}

