.mainContent {
  background-color: #ffffff;
  color: #3b3b3b;
}

.footer {
  font: var(--main-font);
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: var(--big-max-width);
  margin: auto;
  padding: 5rem 0 3rem 0;
  background-color: #ffffff;
  color: #3b3b3b;
}

.footerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerContent {
  max-width: 40%;
}

.footerContentDescription {
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  font-size: 0.9rem;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.footerSocial {
  display: flex;
  flex-direction: column;
}

.footerContentTitle1,
.footerSocialTitle {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footerSocialLink {
  cursor: pointer;
  margin-right: 1rem;
  padding: 7px 0px;
  border-radius: 50%;
  // color: #8e8f8c;
  width: 22px;
  height: 25px;
  svg {
    font-size: 1.7rem;
  }
}

.footerSocialLink:hover {
  color: black;
}

.footerLastLine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3.5rem;
  border-top: 1px solid #cfcfcf;
}

.footerCreateWith,
.footerCopyRight {
  margin-top: 0.7rem;
  font-size: 1rem;
  font-size: 0.8rem;
  opacity: 0.9;
  color: #3c3b3b;
}

.footerPersonalLink {
  cursor: pointer;
  border-radius: 50%;
  text-decoration: none;
  color: #3c3b3b;
}

.bold {
  font-weight: bold;
}

.footerSocialButtons {
  display: flex;
  gap: 0 15px;
}

@media (max-width: 599px) {
  .footer {
    padding: 2rem 0;
  }
  .footerContainer {
    flex-direction: column;
    justify-content: initial;
    display: flex;
    padding: 0 1rem;
  }
  .footerContent {
    max-width: 100%;
  }
  .logo {
    width: 120px;
  }
  .footerContentDescription {
    margin-top: 0.5rem;
    margin-left: 0;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  .footerSocial {
    width: 100%;
  }
  .footerSocialTitle {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .footer {
    padding: 2rem 0 1rem;
  }
  .footerContainer {
    padding: 0 2rem;
  }
  .logo {
    width: 150px;
  }
  .footerContentDescription {
    margin-top: 0.5rem;
    margin-left: 0;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  .footerSocialTitle {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 960px) {
  /* Desktop-specific CSS rules go here */
}
